# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Firebase
.firebase/
firebase-debug.log

# Android/iOS
android/local.properties
android/key.properties
ios/Runner/GoogleService-Info.plist
ios/Runner/GeneratedPluginRegistrant.*

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.prod

# ignore chroma
chroma_db/