# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Firebase
.firebase/
firebase-debug.log

# Android/iOS
android/local.properties
android/key.properties
ios/Runner/GoogleService-Info.plist
ios/Runner/GeneratedPluginRegistrant.*

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.prod

# ignore chroma
chroma_db/
*bin
chroma_db/chroma.sqlite3
kapwa/
devtools_options.yaml
serviceAccountKey.json
data_sources/
audio_sources/
story_sources/
signaling_server/node_modules/

# Android build outputs and intermediate files
android/.gradle/
android/.cxx/
android/build/
android/app/build/
android/app/.cxx/ # Explicitly ignore the .cxx folder
android/app/build/
android/app/release/
android/app/debug/
*.apk
*.aab
local.properties # Contains SDK path, specific to your machine
.idea/ # For Android Studio/IntelliJ IDEA
.gradle/ # Gradle specific files